nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

nav > ul  {
    display: inline-block;
}

nav > ul > li  {
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 0px 16px;
}

.logotipo {
    width: 96px;
    height: 96px;
}

@media (max-width: 700px) {
    nav {
        height: 80px;
    }
    .menu {
        display: none;
    }
    .logotipo {
        width: 72px;
        height: 72px;
    }
}