nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 8vw;
    align-items: center;
}

nav > ul  {
    display: inline-block;
}

nav > ul > li  {
    display: inline-block;
}

a {
    text-decoration: none;
}

.logotipo {
    width: 96px;
    height: 96px;
}

.menu-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 416px;
    height: 100%;
    z-index: 10;
    background-color: var(--cor-de-fundo);
    outline: 1px solid var(--cor-preta);
    padding: 24px;
}

.menu-content > p {
    position: absolute;
    bottom: 24px;
    right: 24px;
    text-align: end;
}

.fechar {
    padding: 8px;
    border: 1px solid var(--cor-preta);
    border-radius: 24px;
    position: absolute;
    top: 48px;
    right: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechar:hover {
    background-color: var(--cor1);
}

.caminhos {
    margin-top: 88px;
}

.link_menu {
    margin: 16px 0 0 0;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    color: var(--cor-preta);
}

.link_menu > span {
    border: 1px solid var(--cor-preta);
    border-radius: 24px;
    padding: 8px;
}

.link_menu > span:hover {
    background-color: var(--cor2);
}

.lista_icon {
    display: flex;
    gap: 8px;
}

#menuIcon, #menuFechar {
    cursor: pointer;
}

.lista_menu > li > a {
    margin: 0 32px;
}

.lista_menu > li > a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    nav {
        height: 80px;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    .menu-content {
        width: 100vw;
        padding: 16px;
    }
    .fechar {
        top: 40px;
        right: 40px;
    }
    .logotipo {
        width: 72px;
        height: 72px;
    }
    .caminhos > a {
        font-size: var(--t-48);
    }
}