#delivery {
    margin: 64px 8vw;

    position: relative;
}

.div_delivery > h2 {
    margin-bottom: 24px;
}

.art_delivery {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.tel_delivery{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tel_delivery > .tel_number > a {
    color: var(--cor-preta);
    padding: 0;
}

.tel_delivery > h3 {
    margin-bottom: 32px;
}

.tel_number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.apps_delivery{
    width: 50%;
}

.apps_delivery > h3{
    margin-bottom: 32px;
}

.logo_delivery {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.logo_delivery > img {
    border: 1px solid var(--cor-preta);
    border-radius: 24px;
    width: 80px;
}

@media (max-width: 700px) {
    #delivery {
        margin: 56px 8vw;
    }
    .art_delivery {
        flex-direction: column;
    }
    .tel_delivery{
        width: 100%;
    }
    .logo_delivery {
        gap: 24px;
    }
    .apps_delivery{
        width: 100%;
    }
}