.card {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.card_verde_menta {
    background-color: var(--cor1);
    border: 1px solid var(--cor-preta);
}

.card_rosa_pastel {
    background-color: var(--cor2);
    border: 1px solid var(--cor-preta);
}

.card_pessego {
    background-color: var(--cor3);
    border: 1px solid var(--cor-preta);
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }
}