.svg_form_right, .svg_form_right_login {
    position: absolute;
    right: -28px;
    top: -50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_svg_verde {
    position: absolute;
    transform: rotate(24deg);
}

.svg_form_left {
    position: absolute;
    top: -50px;
    left: -28px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_svg_rosa {
    position: absolute;
    transform: rotate(-22deg);
}

.icon_svg_tlY {
    position: absolute;
    transform: translateY(4px);
}

.icon_svg {
    position: absolute;
}

@media (max-width: 1000px) {
    .svg_form_right_login{
        position: absolute;
        right: -28px;
        top: 366px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}