input {
    padding: 8px 16px;
    border: 1px solid var(--cor-preta);
    border-radius: 24px;
    font-family: var(--font-family-poppins);
    font-size: var(--t-14);
    background-color: transparent;
    width: 350px;
}

label {
    margin-left: 16px;
}

.btn_input {
    height: 50px;
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 24px;
    border: 1px solid var(--cor-preta);

    color: var(--cor-preta);
    font-family: var(--font-family-poppins);
    cursor: pointer;

    background-color: var(--cor-preta);
    color: var(--cor-branca);

    font-size: var(--t-14);
}

.btn_input:hover {
    transition: all .2s ease-in-out;
    
    border: 2px solid var(--cor-de-fundo);
    outline: 1px solid var(--cor-preta);
}

@media (max-width: 700px) {
    input {
        width: 100%;
    }
}